body {
    padding: 0 15px;
}
.clear {
    clear: both;
}
#categories {
    float: left;
    width:70%;
}
#cloud {
    float:right;
}
#cloud span {
    vertical-align: middle;
}
#cloud img {
    cursor: pointer;
}
#cloud .act_line {
    margin-top: 1.5em;
}
#cloud .act {
    border-bottom: dashed 1px #428bca;
    cursor: pointer;
}
#cloud .act:hover {
    color: #428bca;
}
#cloud .last {
    margin-right: 1em;
    color: darkgray;
}
#cloud .lastupdate {
    color: gray;
}

#categories #status.ok{
  color:green;
}
#categories #status.fail{
  color:maroon;
}
.form-control-feedback.ng-hide{
    display: none;
}
.editable-click, a.editable-click {
    color: black;
}
#import_xml {
    width: 48%;
    padding-right: 4%;
    float:left;
}
#import_json {
    width: 48%;
    float: left;
}
/*
#table_categories {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}

#table_categories tr:nth-child(even) {
    background: rgb(233, 241, 232)
}
#table_categories tr:nth-child(odd) {
    background: #FFF;
}
*/