<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>BankToQIF Options</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/xeditable.css"/>
        <link rel="stylesheet" type="text/css" href="css/options.css"/>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/xeditable.min.js"></script>
        <script type="text/javascript" src="scripts/date-en-US.js"></script>
        <script type="text/javascript" src="scripts/options.js"></script>
    </head>
    <body ng-controller="CategoriesController">
        <div id="categories">
            <div id="add_cat_mapping">
                <h3>Add category mapping</h3>
                <form name="newCatForm" class="form-horizontal" role="form" ng-submit="newCatForm.$valid && addCategoryMatch()" novalidate>
                    <div class="form-group {{newcat.class}}">
                        <label for="cat_name" class="col-sm-2 control-label">Category name:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="cat_name" placeholder="Catetory name" ng-model="newcat.name" required/>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="newcat.hasError"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cat_match" class="col-sm-2 control-label">Match words:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="cat_match" placeholder="Match words separated with semicolon ;" ng-model="newcat.match" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="btn_add_cat" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="status">&nbsp;</div>
        </div>
        <div id="cloud">
            <h3>Sync with cloud</h3>
            <div class="act_line">
                <img src="images/upload.png" ng-click="uploadToCloud()"> <span class="act" ng-click="uploadToCloud()">Upload to cloud</span> <br/>
                <span class="last">Last:</span><span class="lastupdate" id="last_upload">{{cloudLastUpload}}</span>
            </div>
            <div class="act_line">
                <img src="images/download.png" ng-click="downloadFromCloud()"> <span class="act" ng-click="downloadFromCloud()">Download from cloud</span> <br/>
                <span class="last">Last:</span><span class="lastupdate" id="last_download">{{cloudLastDownload}}</span>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div>
            <table ng-table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Match</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in categories  track by $index" class="{{cat.class}}">
                        <td data-title="'Name'"><a href="#" editable-text="cat.name" onbeforesave="checkCategoryExists($data)?'Already exists':true" onaftersave="saveCategories()">{{cat.name || "empty"}}</a></td>
                        <td data-title="'Match'"><a href="#" editable-textarea="cat.match" e-rows="2" e-cols="100" onaftersave="saveCategories()">{{cat.match || "empty"}}</a></td>
                        <td><a href="#" ng-click="removeCategoryRow(cat.name)">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div id="import_xml">
            <form name="importCatForm" class="form-horizontal" role="form" ng-submit="importCatForm.$valid && importCategoriesXml()" novalidate>
                <label for="xmlImport">XML:</label> <button id="btn_xml_import" class="btn btn-default" type="submit">Import</button> <br/>
                <textarea name="xmlImport" id="xmlImport" class="form-control" rows="3" ng-model="importedXml"></textarea>
            </form>
        </div>
        <div id="import_json">
            <form name="importCatJsonForm" class="form-horizontal" role="form" ng-submit="importCatJsonForm.$valid && importCategoriesJson()">
                <label for="jsonImport">JSON:</label> <button id="btn_json_import" class="btn btn-default" type="submit">Import</button> 
                <button id="btn_json_export" class="btn btn-default" ng-click="exportCategoriesJson()" type="button">Export</button><br/>
                <textarea name="jsonImport" id="jsonImport" class="form-control" rows="3" ng-model="importedJson" required="true"></textarea>
            </form>
            
        </div>

        <div class="clear">&nbsp;</div>
    </body>
</html>